.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 37, 37);
    color: #fff;
    padding: 1;
    height: 75px;
}

.navbar-left {
    margin-top: 5px;
    margin-left: 10px;
    width: 30px;
}

.navbar-right {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
}

.nav-links {
    list-style-type: none;
    font-size: 18px;
}

a:visited {
    color: inherit;
}
